.chartSection {
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.chartSection > :last-child {
  flex: 1;
}

@media (max-width: 768px) {
  .chartSection {
    min-height: 250px;
  }
}
