.filters {
  flex-wrap: wrap;
}

.searchInput {
  flex: 1;
  min-width: 200px;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .searchInput {
    width: 100%;
  }
}
