.header {
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.logo {
  color: var(--mantine-color-blue-6);
}

.navbar {
  background-color: var(--mantine-color-body);
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navLink {
  border-radius: var(--mantine-radius-md);
  margin-bottom: 4px;
}
